<!DOCTYPE html>
<html>

<head>
    <title>Blogify</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .ptable{
            margin-top: 20px;
        }
         .nav-item {
            font-size: 20px;
            padding-left: 150px;
        }

        .navbar-nav .nav-link {
            font-weight: bold;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/addpost">Add Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewpost">View Post</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/postcomment">View Comments</a>
                    </li>
                     <li class="nav-item">
                        <button class="btn btn-outline-danger" > <a class="nav-link" href="/logout">Logout</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
       
        <h4 th:text="${msg}" class="text-danger"></h4>
      <h2 class="text-center my-4">Comment Table</h2>
<h4 th:text="${msg}" class="text-danger"></h4>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Sr. No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Content</th>
            <th>Date</th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
        <tr th:each="comment:${comments}">
            <td th:text="${commentStat.index + 1}"></td>
            <td th:utext="${comment.name}"></td>
            <td th:utext="${comment.email}"></td>
            <td th:utext="${comment.content}"></td>
            <td th:utext="${comment.createdOn}"></td>
            <td>
                <form th:action="@{/comments/{commentId}/delete(commentId=${comment.commentId})}" method="post">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

    </div>

    <!-- Add Bootstrap JS (optional if you need to use Bootstrap's JavaScript components) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
